{
  "openapi": "3.1.0",
  "info": {
    "title": "LemonSlice",
    "description": "An API that gives access to a LemonSlice agent via a Daily room.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lemonslice.com/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/liveai/rooms": {
      "post": {
        "summary": "Create room",
        "description": "Creates a Daily room configured with the given LemonSlice agent.",
        "operationId": "createRoom",
        "requestBody": {
          "description": "The LemonSlice agent to use in the room.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInfo"
              },
              "example": {
                "agent_id": "agent_abc123"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Room created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "example": {
                  "room_url": "https://lemonslice.daily.co/abc123",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5a...",
                  "image_url": "https://cdn.lemonslice.com/agents/agent_abc123.png",
                  "session_id": "3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arguments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Agent owner has insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc owner has insufficient funds"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent not found"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "detail": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/liveai/sessions": {
      "post": {
        "summary": "Create session",
        "description": "Creates an agent session that takes in agent audio and returns synced video with the agent audio.",
        "operationId": "createSession",
        "requestBody": {
          "description": "The properties used to create an agent session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInput"
              },
              "examples": {
                "by_agent_image_url": {
                  "summary": "Create a session using an agent_image_url",
                  "value": {
                    "agent_image_url": "https://cdn.lemonslice.com/agents/custom_agent.png",
                    "agent_prompt": "A friendly and smiling person.",
                    "transport_type": "livekit",
                    "properties": {
                      "livekit_url": "wss://lemonslice-pb123.livekit.cloud",
                      "livekit_token": "eyJhbGciOiJIUzI1NiIsInR5a..."
                    }
                  }
                },
                "by_agent_id": {
                  "summary": "Create a session using an agent_id",
                  "value": {
                    "agent_id": "agent_abc123",
                    "transport_type": "livekit",
                    "properties": {
                      "livekit_url": "wss://lemonslice-pb123.livekit.cloud",
                      "livekit_token": "eyJhbGciOiJIUzI1NiIsInR5a..."
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                },
                "example": {
                  "session_id": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arguments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Agent owner has insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc owner has insufficient funds"
                }
              }
            }
          },
          "403": {
            "description": "Agent not owned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc is not owned by the authenticated user"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent not found"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "detail": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/liveai/sessions/{session_id}": {
      "get": {
        "summary": "Get session",
        "description": "Retrieves the current status of a session.",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_status": {
                      "type": "string",
                      "enum": ["QUEUED", "ACTIVE", "COMPLETED", "TIMED_OUT", "FAILED"],
                      "description": "Current status of the session. QUEUED: session is waiting for a GPU container. ACTIVE: agent is live. COMPLETED: session ended successfully. TIMED_OUT: GPU container timed out. FAILED: session ended with an error."
                    }
                  },
                  "required": ["session_status"]
                },
                "examples": {
                  "queued": {
                    "summary": "Session is queued",
                    "value": {
                      "session_status": "QUEUED"
                    }
                  },
                  "active": {
                    "summary": "Session is active",
                    "value": {
                      "session_status": "ACTIVE"
                    }
                  },
                  "completed": {
                    "summary": "Session completed",
                    "value": {
                      "session_status": "COMPLETED"
                    }
                  },
                  "timed_out": {
                    "summary": "Session timed out",
                    "value": {
                      "session_status": "TIMED_OUT"
                    }
                  },
                  "failed": {
                    "summary": "Session failed",
                    "value": {
                      "session_status": "FAILED"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Session not found"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "detail": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice agent.",
            "type": "string",
            "example": "agent_abc123"
          }
        }
      },
      "Room": {
        "type": "object",
        "required": ["room_url", "token", "image_url", "session_id"],
        "properties": {
          "room_url": {
            "description": "The Daily room URL.",
            "type": "string",
            "format": "uri",
            "example": "https://your-subdomain.daily.co/abc123"
          },
          "token": {
            "description": "The Daily user token.",
            "type": "string"
          },
          "image_url": {
            "description": "The placeholder agent image.",
            "type": "string",
            "format": "uri",
            "example": "https://cdn.lemonslice.com/agents/agent_abc123.png"
          },
          "session_id": {
            "description": "A unique identifier for the room's session.",
            "type": "string",
            "format": "string",
            "example": "3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
          }
        }
      },
      "SessionInput": {
        "description": "Input to create an agent session. Exactly one of agent_id or agent_image_url must be provided.",
        "type": "object",
        "required": ["transport_type"],
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice agent. Provide either agent_id or agent_image_url, but not both.",
            "type": "string",
            "example": "agent_abc123"
          },
          "agent_image_url": {
            "description": "A URL to an agent image to use. The image should be 368x560 pixels. LemonSlice will automatically center-crop your image to the target aspect ratio if the dimensions do not match the expected values. Provide either agent_image_url or agent_id, but not both.",
            "type": "string",
            "format": "uri",
            "example": "https://example.com/custom_agent.png"
          },
          "agent_prompt": {
            "description": "A high-level system prompt that subtly influences the avatar's movements, expressions, and emotional demeanor. This prompt is best used to suggest general affect or demeanor (for example, 'feel excited' or 'look sad') rather than precise or deterministic actions.",
            "type": "string",
            "example": "Be upbeat and concise."
          },
          "idle_timeout": {
            "description": "Idle timeout in seconds. Defaults to 60. If a negative number is provided, the session will have no idle timeout.",
            "type": "integer",
            "default": 60,
            "example": 60
          },
          "transport_type": {
            "description": "The interface type for how the audio is sent and how the A/V is returned.",
            "type": "string",
            "enum": ["livekit"],
            "example": "livekit"
          },
          "properties": {
            "description": "Additional properties needed to connect to the transport layer",
            "$ref": "#/components/schemas/LiveKitTransportProperties"
          }
        },
        "oneOf": [
          {
            "title": "By agent_image_url",
            "required": ["agent_image_url"],
            "not": { "required": ["agent_id"] }
          },
          {
            "title": "By agent_id",
            "required": ["agent_id"],
            "not": { "required": ["agent_image_url"] }
          }
        ],
        "additionalProperties": false
      },
      "LiveKitTransportProperties": {
        "type": "object",
        "required": ["livekit_url", "livekit_token"],
        "properties": {
          "livekit_url": {
            "type": "string",
            "format": "uri",
            "example": "wss://lemonslice-pb123.livekit.cloud"
          },
          "livekit_token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5a..."
          }
        },
        "additionalProperties": true,
        "example": {
          "livekit_url": "wss://lemonslice-pb123.livekit.cloud",
          "livekit_token": "eyJhbGciOiJIUzI1NiIsInR5a..."
        }
      },
      "Session": {
        "type": "object",
        "required": ["session_id"],
        "properties": {
          "session_id": {
            "description": "The ID of the session.",
            "type": "string",
            "example": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Agent not found"
          }
        }
      },
      "ServerError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Internal server error"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your LemonSlice API token."
      }
    }
  }
}