{
  "openapi": "3.1.0",
  "info": {
    "title": "LemonSlice",
    "description": "An API that gives access to a LemonSlice agent via a Daily room.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lemonslice.com/api/"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/rooms": {
      "post": {
        "summary": "Create room",
        "description": "Creates a Daily room configured with the given LemonSlice agent.",
        "operationId": "createRoom",
        "requestBody": {
          "description": "The LemonSlice agent to use in the room.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInfo"
              },
              "example": {
                "agent_id": "agent_abc123"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Room created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "example": {
                  "room_url": "https://lemonslice.daily.co/abc123",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "image_url": "https://cdn.lemonslice.com/agents/agent_abc123.png"
                }
              }
            }
          },
          "403": { "description": "Origin denied." },
          "404": { "description": "Agent not found." },
          "500": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice agent.",
            "type": "string",
            "examples": ["agent_abc123"]
          }
        }
      },
      "Room": {
        "type": "object",
        "required": ["room_url", "token", "image_url"],
        "properties": {
          "room_url": {
            "description": "The Daily room URL.",
            "type": "string",
            "format": "uri",
            "examples": ["https://your-subdomain.daily.co/abc123"]
          },
          "token": {
            "description": "The Daily user token.",
            "type": "string"
          },
          "image_url": {
            "description": "The placeholder agent image.",
            "type": "string",
            "format": "uri",
            "examples": ["https://cdn.lemonslice.com/agents/agent_abc123.png"]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "examples": ["Agent not found."]
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your LemonSlice API token."
      }
    }
  }
}