{
  "openapi": "3.1.0",
  "info": {
    "title": "Lemon Slice",
    "description": "An API that gives access to a Lemon Slice agent via a Daily room.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lemonslice.com/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/liveai/rooms": {
      "post": {
        "summary": "Create room",
        "description": "Creates a Daily room configured with the given Lemon Slice agent.",
        "operationId": "createRoom",
        "requestBody": {
          "description": "The Lemon Slice agent to use in the room.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInfo"
              },
              "example": {
                "agent_id": "agent_abc123"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Room created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "example": {
                  "room_url": "https://lemonslice.daily.co/abc123",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "image_url": "https://cdn.lemonslice.com/agents/agent_abc123.png"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arguments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Agent owner has insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc owner has insufficient funds"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent not found"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "detail": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/liveai/sessions": {
      "post": {
        "summary": "Create session",
        "description": "Creates an agent session that takes in agent audio and returns synced video with the agent audio",
        "operationId": "createSession",
        "requestBody": {
          "description": "The properties used to create an agent session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInput"
              },
              "example": {
                "agent_id": "agent_abc123",
                "transport_type": "livekit",
                "properties": {
                  "livekit_url": "wss://lemonslice-pb123.livekit.cloud",
                  "livekit_token": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                },
                "example": {
                  "session_id": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arguments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Missing required fields"
                }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "402": {
            "description": "Agent owner has insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc owner has insufficient funds"
                }
              }
            }
          },
          "403": {
            "description": "Agent not owned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent agent_123abc is not owned by the authenticated user"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Agent not found"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                },
                "example": {
                  "detail": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice agent.",
            "type": "string",
            "example": "agent_abc123"
          }
        }
      },
      "Room": {
        "type": "object",
        "required": ["room_url", "token", "image_url"],
        "properties": {
          "room_url": {
            "description": "The Daily room URL.",
            "type": "string",
            "format": "uri",
            "example": "https://your-subdomain.daily.co/abc123"
          },
          "token": {
            "description": "The Daily user token.",
            "type": "string"
          },
          "image_url": {
            "description": "The placeholder agent image.",
            "type": "string",
            "format": "uri",
            "example": "https://cdn.lemonslice.com/agents/agent_abc123.png"
          }
        }
      },

      "SessionInput": {
        "oneOf": [{ "$ref": "#/components/schemas/SessionInputLiveKit" }],
        "discriminator": {
          "propertyName": "transport_type",
          "mapping": {
            "livekit": "#/components/schemas/SessionInputLiveKit"
          }
        }
      },

      "SessionInputLiveKit": {
        "type": "object",
        "required": ["agent_id", "transport_type", "properties"],
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice agent.",
            "type": "string",
            "example": "agent_abc123"
          },
          "transport_type": {
            "description": "The interface type for how the audio is sent and how the A/V is returned.",
            "type": "string",
            "enum": ["livekit"],
            "example": "livekit"
          },
          "properties": {
            "description": "Additional properties needed to connect to the transport layer",
            "$ref": "#/components/schemas/LiveKitTransportProperties"
          }
        },
        "additionalProperties": false
      },

      "LiveKitTransportProperties": {
        "type": "object",
        "required": ["livekit_url", "livekit_token"],
        "properties": {
          "livekit_url": {
            "type": "string",
            "format": "uri",
            "example": "wss://lemonslice-pb123.livekit.cloud"
          },
          "livekit_token": {
            "type": "string",
            "example": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
          }
        },
        "additionalProperties": true,
        "example": {
          "livekit_url": "wss://lemonslice-pb123.livekit.cloud",
          "livekit_token": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
        }
      },

      "Session": {
        "type": "object",
        "required": ["session_id"],
        "properties": {
          "session_id": {
            "description": "The id of the session",
            "type": "string",
            "example": "livekit-3f7c2b91-9e1f-4a6a-8e9d-2c7c3e7d9b5a"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Agent not found"
          }
        }
      },
      "ServerError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "Internal server error"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your LemonSlice API token."
      }
    }
  }
}