{
  "openapi": "3.1.0",
  "info": {
    "title": "Lemon Slice",
    "description": "An API that gives access to a Lemon Slice agent via a Daily room.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lemonslice.com/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/liveai/rooms": {
      "post": {
        "summary": "Create room",
        "description": "Creates a Daily room configured with the given Lemon Slice agent.",
        "operationId": "createRoom",
        "requestBody": {
          "description": "The Lemon Slice agent to use in the room.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInfo"
              },
              "example": {
                "agent_id": "agent_abc123"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Room created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                },
                "example": {
                  "room_url": "https://lemonslice.daily.co/abc123",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5...",
                  "image_url": "https://cdn.lemonslice.com/agents/agent_abc123.png"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arguments",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Authentication denied",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Agent owner has insufficient funds",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServerError" }
              }
            }
          }
        }
      }
    },
    "/liveai/sessions": {
      "post": {
        "summary": "Create session",
        "description": "Creates an agent session that takes in agent audio and returns synced video with the agent audio",
        "operationId": "createSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "type": "object",
        "required": ["agent_id"],
        "properties": {
          "agent_id": {
            "type": "string"
          }
        }
      },

      "Room": {
        "type": "object",
        "required": ["room_url", "token", "image_url"],
        "properties": {
          "room_url": { "type": "string", "format": "uri" },
          "token": { "type": "string" },
          "image_url": { "type": "string", "format": "uri" }
        }
      },

      "SessionInput": {
        "description": "Exactly one of agent_id or agent_image_url must be provided.",
        "oneOf": [
          { "$ref": "#/components/schemas/SessionInputByAgentId" },
          { "$ref": "#/components/schemas/SessionInputByAgentImageUrl" }
        ]
      },

      "SessionInputByAgentId": {
        "type": "object",
        "required": ["agent_id", "transport_type", "properties"],
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "agent_prompt": {
            "type": "string"
          },
          "idle_timeout": {
            "type": "integer",
            "default": 60
          },
          "transport_type": {
            "type": "string",
            "enum": ["livekit"]
          },
          "properties": {
            "$ref": "#/components/schemas/LiveKitTransportProperties"
          }
        },
        "additionalProperties": false
      },

      "SessionInputByAgentImageUrl": {
        "type": "object",
        "required": ["agent_image_url", "transport_type", "properties"],
        "properties": {
          "agent_image_url": {
            "type": "string",
            "format": "uri"
          },
          "agent_prompt": {
            "type": "string"
          },
          "idle_timeout": {
            "type": "integer",
            "default": 60
          },
          "transport_type": {
            "type": "string",
            "enum": ["livekit"]
          },
          "properties": {
            "$ref": "#/components/schemas/LiveKitTransportProperties"
          }
        },
        "additionalProperties": false
      },

      "LiveKitTransportProperties": {
        "type": "object",
        "required": ["livekit_url", "livekit_token"],
        "properties": {
          "livekit_url": { "type": "string", "format": "uri" },
          "livekit_token": { "type": "string" }
        }
      },

      "Session": {
        "type": "object",
        "required": ["session_id"],
        "properties": {
          "session_id": { "type": "string" }
        }
      },

      "Error": {
        "type": "object",
        "properties": {
          "detail": { "type": "string" }
        }
      },

      "ServerError": {
        "type": "object",
        "properties": {
          "detail": { "type": "string" }
        }
      }
    },

    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}