{
  "openapi": "3.1.0",
  "info": {
    "title": "LemonSlice",
    "description": "An API that gives access to a LemonSlice agent via a Daily room.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.lemonslice.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/rooms": {
      "post": {
        "description": "Creates a daily room with a LemonSlice agent",
        "requestBody": {
          "description": "Agent ID of LemonSlice agent",
          "content": {
            "application/json": {
              "schema": {
                  "$ref": "#/components/schemas/AgentInfo"
                }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "room created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "403": {
            "description": "origin denied"
          },
          "404": {
            "description": "agent not found"
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "required": [
          "agent_id"
        ],
        "type": "object",
        "properties": {
          "agent_id": {
            "description": "The ID of the LemonSlice Agent",
            "type": "string"
          }
        }
      },
      "Room": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "room_url": {
            "description": "The Daily room url",
            "type": "string"
          },
          "token": {
            "description": "The Daily auth token",
            "type": "string"
          },
          "image_url": {
            "description": "The placeholder agent image",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}